.Header {
    max-height: 150px;
}
.header-wrapper, .categorias {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: flex;
}

@media screen and (max-width: 720px){
    .header-wrapper{
        flex-direction: column; }
    .categorias{
        overflow-x: scroll;
    }
    .Header {
        max-height: 260px;
    }
}

.logo {
    max-width: 230px;
    cursor: pointer;
}

.input-pesquisa {
    font-size: 1rem;
    color: #333;
    padding: 10px 25px;
    width: 90%;
    border: none;
    border-bottom: 1px solid #555;
    margin: 0 10px;
}
.button-pesquisa {
    margin-left: -55px;
    font-size: 1.2rem;
    color: #333;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.item-cabecalho {
    padding: 20px 0;
}

.item-cabecalho {
    cursor: pointer;
}

.item-cabecalho i {
    color: black;
    font-size: 2rem;
    margin: 0 5px;
}

.item-cabecalho span {
    color: #3d3d3d;
    font-size: 14px;
}
.item-cabecalho.cart {
    margin-left: 15px;
}
.item-cabecalho.cart span {
    font-size: 1rem;
    background-color: #555;
    color: #fff;
    border-radius: 100px;
    padding: 0 5px;
    margin-left: -15px;
    position: relative;
    top: -15px;

}


/* // CATEGORIA---- */

.categorias-wrapper {
    background-color: #000000;
    color: #fff;
}
.categoria-item {
    padding: 10px 5px;
    border-right: 1px solid #ccc;
    font-weight: bold;
    text-transform: uppercase;
}
.categoria-item:hover {
    background-color: #fff;
    color: #000000;
    cursor: pointer;
    border-right: 0;
}

.categoria-item:last-child { border-right: 0; }



/* BENEFICIOS */
.Beneficios {
    padding: 25px 0;
    background: #000000;
    margin-top: -10px;
    
}
.Beneficios i {
    color: #fff
}
.Beneficios span {
    color: #fff;
    font-size: 0.75rem;
    font-weight: bold;
    margin-top: 10px;
}


/* Produtos */
.Produtos-Pagina-Inicial {
    margin: 30px auto;
}
.Produtos-Pagina-Inicial > h2 {
    font-size: 2rem;
    color: #000000;
    font-weight: bold;
}
.produto {
    cursor: pointer;
    margin: 10px;
    box-shadow: 0 0 4px rgb(207, 207, 207) ;
    flex-basis: calc(25% - 20px);
    padding: 15px;
}
.produto:hover{
    box-shadow: 0 0 10px rgb(59, 59, 59) ;
}
.produto-image { height: 250px ;}
.produto-title {
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    color: #000000;
}
.produto-preco h2, .produto-preco-promocao h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
}
.produto-preco-produto-por h2 {
    font-size: 1.1rem;
    text-decoration: line-through;
    color: #a19f9f;
    margin: 0;
}
.produto-preco-parcelado h4 {
    color: #1a1a1a;
    font-size: 0.95rem;
}

/* PAGINACAO */
.Paginacao {
    margin: 40px 0 80px;
}
.paginacao-item{
    border: 1px solid #ccc ;
    padding: 3px 8px;
    color:#000000 ;
    margin: 0 5px;
    cursor: pointer;
}
.paginacao-item.paginacao-item-active,
.paginacao-item:hover {
    color: #fff;
    background-color: #000000;
    border: 1px solid #000000;
}

/* PÁGINA DO PRODUTO */
.Produto-Hero .titulo {
    font-size: 2rem;
    color: #000000;
}
.Produto-Hero .titulo h2 {
    margin-bottom: 0%;
}
.Produto-Hero .categoria p {
    margin-top: 0;
    font-size: 0.9rem;
    color: #555;
}
.Produto-Hero .categoria-link {
    cursor: pointer;
    color: rgb(11, 0, 160);
}
.Produto-Hero .preco-original,
.Produto-Hero .preco-promocao {
    font-size: 2rem;
    color: #434343;
    margin: 0 ;
}

.Produto-Hero .preco-original.preco-por {
    color: #777777;
    font-size: 0.9rem;
    font-weight: normal;
    text-decoration: line-through;
}
.Produto-Hero .preco-parcelado{
    margin: 0;
    color: #555;
    font-size: 1rem;
    font-weight: normal;
}
.Produto-Hero .variacao {
    border: 1px solid #999999;
    padding: 10px 5px;
    font-size: 1rem;
    margin: 5px  10px 5px 0;
    cursor: pointer;
    font-weight: bold;
}
.Produto-Hero .variacao:hover,
.Produto-Hero .variacao.variacao-active{
    background-color: #000000;
    color: #fff;
}

.Produto-Hero .opcoes {
    margin-top: 20px;
}
.Produto-Hero .opcao-tab{
    font-size: 0.9rem;
    color: #444444;
}
.Produto-Hero .opcao-input {
    font-size: 1.2rem;
    padding: 10px 15px;
    margin: 5px 0;
    border: 1px solid #000000 ;
    max-width: 50px ;
}

/* IMAGENS PRODUTO  */
.foto-principal img {
    min-width: 550px;
}
.foto-principal img {
    max-width: 555px;
}
.mini-foto {
    margin-top: 10px;
    border: 1px solid #999999;
    max-width: 100px;
    margin-right: 10px;
    cursor: pointer;
    opacity: 0.7;
}
.mini-foto:hover{
    opacity: 1;
}

.Descricao {
    margin-top: 50px;
    max-width: 800px;
    
}
.Descricao h2{
    width: 300px;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #222222;
    margin-left: 10px;
}
.Descricao p {
    margin-left: 10px;
}
.Avaliacoes h2{
    width: 300px;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #222222;
    margin-left: 10px;
}
.Avaliacoes {
    margin-left: 10px;
    margin-top: 50px;
}
.avaliacao {
    
    margin: 10px 20px 10px 0px;
    box-shadow: 0 0 4px rgb(207, 207, 207);
    padding: 10px 15px;
    border-radius: 4px;
}
.avaliacao i.fa-star{
    color: rgb(230, 187, 0);
    margin-right: 2px;
}
.avaliacoes-form {
    margin-top: 15px;
}
.avaliacoes-form h4 {
    color: #3b3b3b;
    font-size: 1.2rem;
}
.avaliacoes-form label {
    font-size: 0.9rem;
    color: #474747;
    margin: 10px 10px 5px 0 ;
}
.avaliacoes-form select {
    font-size: 1rem;
    width: 120px;
    border: 1px solid #fff;
    box-shadow: 0 0 6px rgb(185, 185, 185);
}
.avaliacoes-form textarea {
    border-radius: 6px;
    border: 1px solid #aaa;
    box-shadow: 0 0 6px rgb(155, 155, 155);
    font-size: 0.9rem;
    padding: 10px;
}

.Produtos-Relacionados {
    width: 300px;
    margin-right: -50px;
    font-size: 1.2rem;
    color: #222222;
    margin-left: 10px;
}
.container-relacionados {
    width: calc(100% - 20px);
    padding: 0 40px;
    max-width: 1200px;
    margin-left: -50px;
}



/* CARRINHO */

/* .dados-do-carrinho-container {
    padding-left: calc(60% - 20px);
} */

.dados-do-carrinho-container h4 {
    padding-left: 10px;

}
.Carrinho>h2 {
    font-size: 2rem;
}
.Carrinho  .produto-image,
.Checkout .produto-image {
    height: auto;

}
.Carrinho .produto-quantidade {
    font-size: 1rem;
    padding: 10px 15px;
    width: 60px;
    border: 1px solid #aaaaaa;
}

.Carrinho .btn-remover {
    color: rgb(82, 0, 0);
    font-size: 0.85rem ;
    text-decoration: underline;
    cursor: pointer;
}
.Carrinho .btn-remover:hover {
    color: rgb(184, 3, 3);
}
.Carrinho .carrinho-item {
    padding-top:10px;
    margin: 10px;
    border-bottom: 1px solid #aaa;
    padding-bottom: 10px;
    box-shadow: 0 0 10px rgb(136, 136, 136) ;
}
.Carrinho .carrinho-item:last-child {
    border-bottom: 0;
}
.Carrinho .carrinho-cabecalho {
    background-color: black ;
    color: #fff;
}

.dados-do-carrinho-container{
    margin-top: 20px;
}

.dados-do-carrinho-item{
    padding: 10px 0;
    border-top: 1px solid #aaa;
}
.Carrinho select {
    font-size: 1rem;
    padding: 5px 10px;
}
.Carrinho valor-frete{
    margin: 0;
}
.Carrinho .limpar-CEP {
    color: rgb(82, 0, 0);
    font-size: 0.85rem ;
    text-decoration: underline;
    cursor: pointer;
}
.campo-frete {
    width: 130px;
    margin-top: 17px;
}
.Carrinho .campo-frete {
    padding: 5px 8px;
    font-size: 1rem ;
    
}

/* CHECKOUT */

.form-input {
    display: flex;
    flex-direction: column;
}

.form-input label {
    margin: 10px 0 5px;
    font-size: 0.9rem;
    font-weight: bold;
}

.form-input input {
    max-width: 400px;
    font-size: 1rem;
    margin: 0px 5px 5px 0;
    padding: 5px 8px;
    border: 1px solid #aaa;
    box-shadow: 0 0 2px rgb(153, 153, 153) ;
    border-radius: 4px;
}
.Checkout .select {
    max-width: 300px;
    font-size: 1rem;
    margin: 0 5px 5px 0;
}
.form-check label {
    margin: 0;
    margin-top: -3px;
    }
.Checkout .slash-pagamento {
    display: flex;
    align-items: flex-end;
    margin: 10px;
    margin-bottom: 8px;
    font-size: 1.5rem;
    font-weight:  bold;
}

.Checkout  h2 {
    border-top: 1px solid #aaa;
    margin-top: 80px;
    padding-top: 30px ;
}

.Checkout >  h2 {
    border-top: 0;
    margin-top: 0;
    padding-top: 0 ;
    margin-bottom: 0;
}
.Checkout .carrinho-item{
    padding-top:10px;
    margin: 10px;
    border-bottom: 1px solid rgb(202, 202, 202);
    padding-bottom: 10px;
    box-shadow: 0 0 6px rgb(185, 185, 185) ;
}
.Checkout .form-check{
    flex-direction: row;
    align-items: center;
}
input[type="radio"] {
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    border: 0;
}


/* MINHA CONTA  */
.Acesso-Container {
    margin: 50px auto 10px;
    width: calc(100% - 20px);
    padding: 20px ;
    max-width: 500px;
    border: 1px solid #aaa;
    box-shadow: 0 0 6px rgb(185, 185, 185) ;
}
.Acesso-Container .form-input input{
    max-width: 100%;
}
.Acesso-Container .link-acesso {
    margin: 10px;
    font-size: 0.9rem;
    cursor: pointer;
    color: #070049;
}
.Acesso-Container .link-acesso:hover{
    color: #1000a5;
    text-decoration: underline;
}
.Acesso-Container select {
    padding: 5px;
    border-radius: 4px;
}

/* MENU LATERAL */

.Pedidos-Container,
.Dados-Container,
.Senha-Container,
.Pedido-Container {
    margin-top: 30px !important ; 
}
.menu-lateral {
    border-top: 4px solid #000000;
    margin-top: 30px;
}
.menu-lateral-item{
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid #aaa;
    border-top: 0;
    cursor: pointer;
}
.menu-lateral-item-active,
.menu-lateral-item:hover {
    background-color: #000000;
    color: #fff;
}

.conteudo-area-cliente {
    margin: 10px 10px 10px 40px;
    box-shadow: 0 0 6px rgb(185, 185, 185) ;
    padding: 20px;
    border-radius: 3px;
}

.menu-pedidos {
    background-color: #000000;
    color: #fff;
}
.Pedido-Card {
    padding: 15px 0;
    border-bottom: 1px solid #aaa ;
}

.menu-pedidos > div,
.Pedido-Card> div {
    padding: 0 15px;
}

.form-dados {
    max-width: 700px ;
}
.form-dados,
.form-dados input {
    max-width: 700px;
    margin-top: 5px;
}

table.simples {
    border-collapse: collapse;
}
table.simples th,
table.simples td {
    padding: 10px 15px ;
}
table.simples th {
    background-color: #000000;
    color: #fff;
}
table.simples td {
    border-bottom: 1px solid rgba(190, 190, 190, 0.867);
}

.Status-Item {
    border-left: 3px solid rgb(1, 78, 1);
    padding: 5px 10px;
    margin: 3px 0;
    border-bottom: 1px solid rgba(190, 190, 190, 0.867);
    width: 90%;
}


/* ALERTA  */
.alert {
    margin: 10px 0;
    padding: 10px 15px;
    border: 2px solid #dddd;
    background-color: #eee;
    color: #555;
    font-size: 0.9rem;
    border-radius: 2px;
}
.alert-danger {
    border: 2px solid rgb(100, 0, 0);
    background-color: rgb(255, 203, 203);
    color: rgb(115, 0, 0);
}


/* BOTÕES */
.btn {
    font-size: 1.1rem;
    padding: 10px 20px;
    margin: 10px 0;
    border: 1px solid #999999;
    background: transparent;
    font-weight: bold;
    cursor: pointer;
}
.btn-primary {
    background-color: rgb(0, 0, 0);
    color: #fff;
    border: none;
    margin: 18px 0;
    font-size: 1.4rem;
}
.btn-primary:hover{
    background-color: rgb(71, 71, 71);
}
.btn-small {
    font-size: 0.6rem;
}
.btn-sm{
    font-size: 0.85rem;
    padding: 5px 8px;
    
}

.btn-success {
    background-color: rgb(3,123,17);
    color: #fff;
    border: none;
    margin: 18px 0;
    font-size: 1.4rem;
}

.btn-success:hover{
    background-color: rgb(0, 211, 25);
}
.btn-cta {
    padding: 15px 25px;
    font-size: #ffffff;
}

/* RODAPE */
.Rodape {
    background: #000000;
    padding: 60px 0;
    color: rgb(255, 255, 255);
    margin-top: 100px ;
}
.Rodape a {
    color: rgb(185, 185, 185);
}
.Rodape i.fa {
    color: #fff;
    font-size: 1.5rem;
    padding: 15px 0;
}
.Rodape h2 {
    font-size: 1.3rem;
    color: #fff;
    font-weight: bold;
}

.LayoutSupremo{
    background-color: rgb(231, 231, 231);
}
.Layout {
    border-radius: 5px;
    margin: 20px;
    margin-top: 5px;
    box-shadow: 0 0 10px rgb(153, 153, 153) ;
    background-color: #fff;
    margin-bottom: -10px;
}

@media screen and (max-width: 720px){
    .Layout {
        overflow-x: hidden;
        margin-top: 0px;
        box-shadow:none;
        background-color: #fff;
    }
    .layout-supremo-mb{
        margin: 0;
        margin-top: -19px;
        margin-right: -15px;
        
        background-color: #fff;
    }
    .input-pesquisa{
        max-width: 70%;
        margin-left: -10px;
    }
    /* .dados-do-carrinho-container {
        padding-left: 0;
    } */
    .Carrinho {
        font-size: 0.5rem;
    }
    .Carrinho select {
        font-size: 0.8rem;
        max-width: 60%;
    }
    .Carrinho .produto-quantidade {
        font-size: 0.7rem;
        width: 40px;
        border: 1px solid #aaaaaa;
    }
    .inpt-quantidade-mb{
        width: 20px;
    }
    .Rodape {
        text-align: center;
    }


}

